@model iStudyTest.Models.Product

@{
    ViewData["Title"] = "Details";
}

<div class="card">
    
    <div class="row">
        <div class="col-xl-6">
            @if (Model.DM != null)
            {
                <img src="~/ProductPhotos/@Model.DM" class="card-img-top img-thumbnail" alt="產品圖片" />
            }
        </div>
        <div class="col-xl-6">
            <div class="card-body">
            <dl>
                <dt class="d-block fw-bold">@Html.DisplayNameFor(model => model.Company.CompanyName)</dt>
                <dd class="ms-3">@Html.DisplayFor(model => model.Company.CompanyName)</dd>

                <dt class="d-block fw-bold">@Html.DisplayNameFor(model => model.ProductName)</dt>
                <dd class="ms-3">@Html.DisplayFor(model => model.ProductName)</dd>

                <dt class="d-block fw-bold">@Html.DisplayNameFor(model => model.LaunchDate)</dt>
                <dd class="ms-3">@Html.DisplayFor(model => model.LaunchDate)</dd>

                <dt class="d-block fw-bold">@Html.DisplayNameFor(model => model.DiscontinuedDate)</dt>
                <dd class="ms-3">@Html.DisplayFor(model => model.DiscontinuedDate)</dd>

                <dt class="d-block fw-bold">@Html.DisplayNameFor(model => model.ValidityPeriod)</dt>
                <dd class="ms-3">
                    @(Model.ValidityPeriod.HasValue ? (Model.ValidityPeriod.Value / 12) + " 年" : "期滿後終生有效")
                </dd>

                <dt class="d-block fw-bold">@Html.DisplayNameFor(model => model.Type)</dt>
                <dd class="ms-3">@Html.DisplayFor(model => model.Type)</dd>

                <dt class="d-block fw-bold">@Html.DisplayNameFor(model => model.Feature)</dt>
                <dd class="ms-3">@Html.Raw(Model.Feature.Replace("\r\n", "<br>"))</dd>
                </dl>
            </div>
            <div >
                <a asp-action="Index" class="btn btn-success">回商品總覽</a>
            </div>
        </div>
    </div>
</div>

