@model iStudyTest.Models.Product

@{
    ViewData["Title"] = "Details";
}

<div>
    <h3 class="text-success">保險商品詳細資料<i class="bi bi-info-circle"></i></h3>
    <hr />
    <div class="row">

        <dl class="row col-lg-5">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Company.CompanyName)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Company.CompanyName)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.ProductName)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.ProductName)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.LaunchDate)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.LaunchDate)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.DiscontinuedDate)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.DiscontinuedDate)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.ValidityPeriod)
            </dt>
            <dd class="col-sm-9">
                @* @Html.DisplayFor(model => model.ValidityPeriod) *@
                @(Model.ValidityPeriod.HasValue ? (Model.ValidityPeriod.Value / 12) + " 年" : "期滿後終生有效")
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Type)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Type)
            </dd>
            @* <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.DM)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.DM)
            </dd> *@
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Feature)
            </dt>
            <dd class="col-sm-9 ">
                @Html.Raw(Model.Feature.Replace("\r\n", "<br>"))
                @* @Html.DisplayFor(model => model.Feature) *@
            </dd>

        </dl>
        <div class="col-lg-7">
            @if (Model.DM != null)
            {
                <img src="~/ProductPhotos/@Model.DM" class="card-img-top img-thumbnail" alt="產品圖片" />
            }
        </div>
    </div>
</div>
<div>
    <a asp-action="Index" class="btn btn-outline-success">回商品總覽</a>
</div>
