@model iStudyTest.Models.Product
@{
    Layout = null;
}

<div class="container">
    <div class="card">
        <div class="row">
            <div class="col-xl-8">
            
                @if (Model.DM != null)
                {
                    <img src="~/ProductPhotos/@Model.DM" class="card-img-top img-thumbnail" alt="產品圖片" />
                }
            </div>
            <div class="col-xl-4">
                <h4>@Model.ProductName</h4>
                <h5 class="text-success"">@Model.Company?.CompanyName</h5>
                <h6 class="text-primary fw-bold">@Model.Type</h6>
                <p>@(Model.ValidityPeriod.HasValue ? "繳費期：" + (Model.ValidityPeriod.Value / 12) + " 年" : "期滿後終生有效")<br>
                   @Html.Raw(Model.Feature.Replace("\r\n", "<br>"))</p>
            </div>
        </div>
   </div>
</div>