@model iStudyTest.Models.Product

@{
    Layout = "_ManageLayout";
    ViewData["Title"] = "商品詳細";
}

<div>
    <h3 class="text-success">保險商品詳細資料<i class="bi bi-info-circle"></i></h3>
    <hr />
    <div class="row">
        <div class="col-lg-6">
            @if (Model.DM != null)
            {
                <img src="~/ProductPhotos/@Model.DM" class="card-img-top img-thumbnail" alt="產品圖片" />
            }
        </div>
        <div class="col-lg-6">
            <dl>
                <dt class="d-block fw-bold">@Html.DisplayNameFor(model => model.Company.CompanyName)</dt>
                <dd class="ms-3">@Html.DisplayFor(model => model.Company.CompanyName)</dd>

                <dt class="d-block fw-bold">@Html.DisplayNameFor(model => model.ProductName)</dt>
                <dd class="ms-3">@Html.DisplayFor(model => model.ProductName)</dd>

                <dt class="d-block fw-bold">@Html.DisplayNameFor(model => model.LaunchDate)</dt>
                <dd class="ms-3">@Html.DisplayFor(model => model.LaunchDate)</dd>

                <dt class="d-block fw-bold">@Html.DisplayNameFor(model => model.DiscontinuedDate)</dt>
                <dd class="ms-3">@Html.DisplayFor(model => model.DiscontinuedDate)</dd>

                <dt class="d-block fw-bold">@Html.DisplayNameFor(model => model.ValidityPeriod)</dt>
                <dd class="ms-3">
                    @(Model.ValidityPeriod.HasValue ? (Model.ValidityPeriod.Value / 12) + " 年" : "期滿後終生有效")
                </dd>

                <dt class="d-block fw-bold">@Html.DisplayNameFor(model => model.Type)</dt>
                <dd class="ms-3">@Html.DisplayFor(model => model.Type)</dd>

                <dt class="d-block fw-bold">@Html.DisplayNameFor(model => model.Feature)</dt>
                <dd class="ms-3">@Html.Raw(Model.Feature.Replace("\r\n", "<br>"))</dd>
            </dl>
            <hr />
            <div>
                <a asp-action="Edit" asp-route-id="@Model?.ProductNumber" asp-route-companyid="@Model?.CompanyID" class="btn btn-outline-warning">編輯</a> |
                <a asp-action="Index" asp-route-companyid="@Model?.CompanyID" class="btn btn-outline-success">回商品管理</a>
            </div>
        </div>
    </div>
</div>
