@model iStudyTest.Models.Product

@{
    ViewData["Title"] = "保險商品詳細資料";
}


<div>
    <h4>@ViewData["Title"]</h4>
    <hr />
    <dl >
        <dt >
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd >
            &emsp; &emsp;@Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Company.CompanyName)
        </dt>

        <dd>
            &emsp; &emsp;@Html.DisplayFor(model => model.Company.CompanyName)
        </dd>
        <dt >
            @Html.DisplayNameFor(model => model.LaunchDate)
        </dt>
        <dd >
            &emsp; &emsp;@Html.DisplayFor(model => model.LaunchDate)
        </dd>
        <dt >
            @Html.DisplayNameFor(model => model.DiscontinuedDate)
        </dt>
        <dd >
            &emsp; &emsp;@Html.DisplayFor(model => model.DiscontinuedDate)
        </dd>
        <dt >
            @Html.DisplayNameFor(model => model.ValidityPeriod)
        </dt>
        <dd >
            &emsp; &emsp;@Html.DisplayFor(model => model.ValidityPeriod)
        </dd>
        <dt >
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd >
            &emsp; &emsp;@Html.DisplayFor(model => model.Type)
        </dd>
                        
        <dt >
            @Html.DisplayNameFor(model => model.Feature)
        </dt>
        <dd >
            &emsp; &emsp;@Html.DisplayFor(model => model.Feature)
        </dd>
        
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-outline-success">回資料列表</a>
</div>
