@model IEnumerable<iStudyTest.Models.Product>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company.CompanyName)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.LaunchDate)
            </th> *@
            @* <th>
                @Html.DisplayNameFor(model => model.DiscontinuedDate)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.ValidityPeriod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.DM)
            </th> *@
            
            <th>
                @Html.DisplayNameFor(model => model.Feature)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Company.CompanyName)
                </td>
                @* <td>
                    @Html.DisplayFor(modelItem => item.LaunchDate)
                </td> *@
                @* <td>
                    @Html.DisplayFor(modelItem => item.DiscontinuedDate)
                </td> *@
                <td>
                    @Html.DisplayFor(modelItem => item.ValidityPeriod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                @* <td>
                    @Html.DisplayFor(modelItem => item.DM)
                </td> *@
                <td width="30%">
                    @Html.DisplayFor(modelItem => item.Feature)
                </td>
                
                <td >
                    <div class="d-flex flex-column flex-sm-column flex-md-row">
                    <a asp-action="Details" asp-route-id="@item.ProductNumber" class="btn btn-outline-info">裏</a>
                    <a asp-action="Edit" asp-route-id="@item.ProductNumber" class="btn btn-outline-warning">修</a>
                        <a asp-action="Delete" asp-route-id="@item.ProductNumber" class="btn btn-outline-danger">刪</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
